* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    gap: 1.5;
}

a {
    text-decoration: none;
}

header {
    align-items: center;
}

td,
th {
    border: 1px solid #000;
    padding: 0.5rem;
}

input {
    width: 150px;
    border: 0;
    height: 34px;
    color: white;
    background-color: blue;
    border-radius: 7px;
    font-size: large;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-duration: 300ms;
}

td:last-of-type {
    text-align: center;
}

table {
    text-decoration: none;
    border-collapse: collapse;
    border: 1px solid #000;
}

input:hover {
    transform: rotate(-20deg);
    transition: 2s;
    scale: 120%;
}

li > a:hover {
    text-decoration: underline;
}

tbody > tr:nth-child(1) {
    background-color: #ca4deb;
}

tbody > tr:nth-child(3) {
    background-color: #ca4deb;
}
