body {
    font-family: "Oswald", sans-serif;
    gap: 1.5px;
    background-image: url(../images/batthern.png);
}

h1 {
    text-align: center;
}

/* Formulieropmaak */
textarea {
    width: 100%;
    height: 100px;
}

fieldset {
    margin: 5px;
}

/* Opmaak van de Verzend-knop */
input[type="submit"] {
    padding: 10px 20px;
    margin: 0.75rem 0;
    border-radius: 6px;
    font-size: 1.1rem;
    width: 100%;
}

/* Layout */
body {
    margin: 0;
    padding: 0;
}

#container {
    padding: 1rem;
    margin: auto;
}

main {
    flex-grow: 1;
}

.grid-container {
    display: grid;
    gap: 0.5rem; /* Verwijder spatie tussen 0.5 en rem */
    border-radius: 6px;
    margin: 0.75rem 0;
    font-size: 1.1rem;
    width: 100%;
}

@media (min-width: 525px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    fieldset:last-child {
        width: auto;
    }
}
